/*
COLORS:

Matte Dark Blue Grey: #3d5a80 (linear gradient color 2)
Matte Light Blue Grey: #98c1d9
Navy Blue/Black: #293241
Powder Blue: #e0fbfc
Pumpkin Orange: #ee6c4d (linear gradient color 1)

*/
$color-primary-dark: rgb(61, 90, 127);
$color-primary-light: rgb(152, 193, 217);
$color-secondary-dark: rgb(41, 50, 65);
$color-secondary-light: rgb(224, 251, 252);
$color-tertiary: rgb(238, 108, 77);

$color-grey-light: rgb(247, 247, 247);
$color-grey-dark: rgb(64, 64, 64);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// GRID
$grid-width: 114rem;
$gutter-vertical: 80px; // equivalent to 8rem
$gutter-horizontal: 60px; // 6rem