.card {
    perspective: 150rem; // the lower the number, the more dramatic the perspective
    -moz-perspective: 150rem; // to get it to work in firefox
    position: relative; // always give the parent a relative position
    height: 53rem;


    &__side {
        background-color: $color-white;
        font-size: 2rem;

        height: 53rem;
        transition: all 1.2s ease; // animate the hover transform
        position: absolute; // base the child on the parent's position
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden; // hides the back side of an element
        border-radius: 3px;
        overflow: hidden; // making sure the image doesn't overflow the parent container
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(-180deg); // needs to start at -180deg

            &-1 {
                background-image: linear-gradient( 
                    to right bottom, 
                    rgba($color-tertiary-2, 0.80), 
                    rgba($color-tertiary, 0.80)); 
                color: $color-white;
            }

            &-2 {
                background-image: linear-gradient( 
                    to right bottom, 
                    rgba($color-primary-light-2, 0.80), 
                    rgba($color-primary-light, 0.80));
                color: $color-white;
            }

            &-3 {
                background-image: linear-gradient( 
                    to right bottom, 
                    rgba($color-primary-dark-2, 0.80), 
                    rgba($color-primary-dark, 0.80));
                color: $color-white;
            }
        }
    }

    // rotate across the y axis 180 deg to turn over a card
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg); // return to 0deg
    }

    // front side styling
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: hard-light;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // x y clockwise
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // x y clockwise
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient( 
                to right bottom, 
                rgba($color-tertiary, 0.75), 
                rgba($color-primary-dark, 0.75)), 
                url(https://images.pexels.com/photos/5211427/pexels-photo-5211427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        }
    

        &--2 {
            background-image: linear-gradient( 
                to right bottom, 
                rgba($color-tertiary, 0.75), 
                rgba($color-primary-dark, 0.75)),  
                url(https://images.pexels.com/photos/5896522/pexels-photo-5896522.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);    
            }        

        &--3 {
            background-image: linear-gradient( 
                to right bottom, 
                rgba($color-tertiary, 0.75), 
                rgba($color-primary-dark, 0.75)), 
                url(https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        }
    }

    &__heading {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        position: absolute;
        top: 15rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto; // centering a block level element

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                // make sure the last child doesn't have the horizontal line
                &:not(:last-child) {
                    border-bottom: 1px solid rgba($color-grey-medium, 0.25);
                }
            }
        }
    }
    
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box{
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
    }

    &__price-starting{
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }


}